* {
    box-sizing: border-box;
}

pre {
    margin: 0;
}

body {
    margin: 0;
    background-color: #0F111A;
    color: #eeffff;
}

main {
    width: 100%;
    height: 100%;
}

#loading-dialog::backdrop {
    background-color: black
}

main {
    display: grid;
    /* beautify ignore:start */
    grid:
        "nav      nav      info" min-content
        "editor   output   info" minmax(0, 1fr)
        "messages messages info" min-content
        / 5fr     5fr      4fr;
    /* beautify ignore:end */

    #nav {
        grid-area: nav;
        border-bottom: 1px solid white;
    }

    #editor {
        grid-area: editor;
        border-right: 1px solid white;
    }

    #output {
        grid-area: output;
    }

    #messages {
        grid-area: messages;
        border-top: 1px solid white;
    }

    #info {
        grid-area: info;
        border-left: 1px solid white;
    }

    @media (aspect-ratio <=1.0) {
        /* beautify ignore:start */
        grid:
            "nav      nav     " min-content
            "editor   output  " minmax(0, 1fr)
            "messages messages" min-content
            "info     info    " 30%
            / 1fr     1fr;
        /* beautify ignore:end */

        #info {
            border-left: none;
            border-top: 1px solid white;

            flex-flow: row nowrap;
        }

        #cubes {
            aspect-ratio: 1;
        }

        #registers {
            flex-flow: column wrap;
        }
    }
}

#nav {
    display: flex;
    flex-wrap: row nowrap;
    padding: 0.5em;
    gap: 0.7em;
}

#editor,
#output {
    overflow: auto;

    pre {
        height: 100%;
        min-height: min-content;
        width: 100%;
        padding: 0.5em;
        text-wrap: stable;
    }
}

#messages {
    padding: 0.5em;

    box-sizing: content-box;
    height: 8lh;
    overflow-y: auto;

    .error-msg {
        color: red;
    }
}

#info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 1em;
}

#registers {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
}

::highlight(comment) {
    color: #546E7A;
}

::highlight(string) {
    color: #C3E88D;
}

::highlight(number) {
    color: #F78C6C;
}

::highlight(variable) {
    color: #EEFFFF;
}

::highlight(label) {
    color: #F78C6C;
}

::highlight(keyword) {
    color: #C792EA;
}

::highlight(keyword\.repeat) {
    color: #C792EA;
}

::highlight(keyword\.conditional) {
    color: #C792EA;
}

::highlight(keyword\.return) {
    color: #C792EA;
}

::highlight(keyword\.operator) {
    color: #89DDFF;
}

::highlight(keyword\.directive) {
    color: #C792EA;
}

::highlight(function\.builtin) {
    color: #82AAFF;
}

::highlight(punctuation\.delimiter) {
    color: #89DDFF;
}

::highlight(type\.builtin) {
    color: #FFCB6B;
}

::highlight(error) {
    text-decoration: red wavy underline;
}

::highlight(current-instr) {
    /* background-color: #181b29; */
    background-color: rgb(200 200 0 / 75%);
}